.navLink {
    text-decoration: none;
    color: inherit;
}

.navLink:visited {
    text-decoration: none;
    color: inherit;
}

.active {
    padding-bottom: 5px;
    border-bottom: 2.5px solid rgb(255, 255, 255);
}