.root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 80vh;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 93vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1.25rem;
}

.logo div span {
    margin-right: 10px;
}

.logo * {
    margin-bottom: 8px;
}

.root form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.MuiTextField-root {
    margin: 1rem !important;
    width: 300px !important;
}

.MuiButton-root {
    margin: 1.5rem !important; 
}

.errorText {
    color: red; 
}




